.landing {

	header {
		background: transparent;
		position: absolute;
		top: 31px;
		width: 100%;
		z-index: 3;
	}
}

.section--landing-intro {
    text-align: center;
    display: flex;
    justify-content: center;
	align-items: center;
	background-color: #fff;
	margin-top: 100px;
	margin-bottom: 100px;
	
	@include media-breakpoint-down(sm) {
		
	}

	@include media-breakpoint-down(xs) {
		padding: 50px 0;
	}

	.title {
		color: $foreground-primary;
		font-size: 60px;
		font-weight: 500;
		margin-top: 50px;

		@include media-breakpoint-down(sm) {
			font-size: 42px;
			line-height: 52px;
		}

		@include media-breakpoint-down(xs) {
			font-size: 32px;
			line-height: 42px;
		}
	}
}

.section--landing--44gatti-hero {
	padding: 250px 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat !important;
	background-position: 60% 10% !important;

	@include media-breakpoint-down(md) {
		background-position: 20% 10% !important;
	}

	@include media-breakpoint-down(sm) {
		background-position: 20% 10% !important;
	}

	@include media-breakpoint-down(xs) {
		padding: 50px 0;
		background: none !important;
	}

	.wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.left {
			width: 50%;
			order: 0;
			
			@include media-breakpoint-up(lg) {
				position: relative;
				left: 100px;
			}

			@include media-breakpoint-down(sm) {
				width: 100%;
				order: 1;
			}

			.arcobaleno-gatti {
				position: relative;
				display: none;

				@include media-breakpoint-down(sm) {
					display: block;
					width: 100%;
					margin: 0 auto;
					top: -40px;
					display: block;
					left: -100px;
				}

				@media (max-width: 425px) {
					left: -60px;
				}
			}

			.logo-gatti {
				max-width: 100%;

				@include media-breakpoint-down(sm) {
					width: 250px;
				}
			}

			.cta {

				@include media-breakpoint-down(sm) {
					display: none;
				}
			}
		}

		.right {
			width: 50%;
			order: 1;

			img {
				max-width: 100%;

				@include media-breakpoint-down(sm) {
					max-width: initial;
					height: auto;
					width: 100%;
				}
			}

			@include media-breakpoint-down(sm) {
				width: 100%;
				order: 0;
				text-align: center;
			}
		}
	}

	.caption {
		color: $foreground-secondary;
		max-width: 500px;
		text-align: center;

		@include media-breakpoint-down(sm) {
			max-width: 100%;
		}

		@include media-breakpoint-down(xs) {
			text-align: center;
		}

		.title {
			font-size: 36px;
			line-height: 46px;
			font-weight: $font-medium;
			margin: 20px 0;

			i {
				color: $foreground-primary;
			}

			@include media-breakpoint-down(sm) {
				font-size: 32px;
				line-height: 52px;
			}

			@include media-breakpoint-down(xs) {
				font-size: 24px;
				line-height: 42px;
			}
		}

		.description {
			font-size: 18px;
			font-weight: $font-regular;
			line-height: 30px;

			@include media-breakpoint-down(xs) {
				font-size: 16px;
				line-height: 26px;
			}
		}

		.cta {
			display: flex;
			justify-content: center;
			margin-top: 50px;

			@include media-breakpoint-down(xs) {
				justify-content: center;
			}
	
			.icon--arrow-circle-right { 
				width: 50px; 
				height: 50px;
				fill: $foreground-primary;
				margin-right: 20px;
				transform: rotate(90deg);
			}
	
			a {
				color: $foreground-primary;
				text-transform: uppercase;
				font-weight: $font-semibold;
				font-size: 14px;
				letter-spacing: 0.5px;
				display: flex;
				align-items: center;

				&.link-arrow {
					width: 60px;
					height: 60px;
					border: 2px solid;
					padding: 20px;
					border-radius: 100%;
					margin-right: 20px;
					transition: all ease-in-out .3s;
	
					.icon--arrow {
						fill: $foreground-primary;
						transform: rotate(90deg);
					}
					
					&:hover, &:focus {
						
						.icon--arrow {
							-webkit-animation: icon-bounce-down 1s infinite; /* Safari 4+ */
							-moz-animation:    icon-bounce-down 1s infinite; /* Fx 5+ */
							-o-animation:      icon-bounce-down 1s infinite; /* Opera 12+ */
							animation:         icon-bounce-down 1s infinite; /* IE 10+, Fx 29+ */
						}
					}
				}
			}
		}
	}
}

.section--personaggi-intro {
	text-align: center;
	padding: 100px 0;

	.title {
		font-size: 36px;
		color: $foreground-secondary;
		font-weight: $font-semibold;
	}

	.description {
		font-size: 24px;
		color: #797a82;
		font-weight: $font-regular;
		margin: 20px 0;
	}

	.cta {

		a {
			color: $foreground-primary;
			font-weight: $font-semibold;
			text-transform: uppercase;
			font-size: 16px;
		}
	}
}

.section--personaggi {
	padding: 100px 0;
	text-align: center;
	position: relative;

	.personaggi-mobile {
		display: none;

		@media (max-width: 1399px) {
			display: block;
		}

		img {
			margin: 0 auto;
		}

		.slick-slide {
			outline: none;
		}

		.slick-dots {
			margin-top: 50px;
		}
	}

	.personaggi-desktop {
		display: block;

		@media (max-width: 1399px) {
			display: none;
		}
	}

	.milady {
		position: absolute;
		left: 0;
		top: 50px;
	}

	.lampo {
		position: absolute;
		right: 0;
		top: 50px;
	}

	.pilon {
		position: absolute;
		left: 0;
		bottom: 50px;
	}

	.meatball {
		position: absolute;
		right: 0;
		bottom: 50px;
	}

	img {
		max-width: 100%;
	}

	.wrap {
		display: flex;
		justify-content: center;
		
		.item {
			display: flex;
			flex-direction: column;
			align-items: center;

			img.spazzolino {
				width: 66px;
				height: auto;
				max-width: 100%;
				margin: 0 40px;

				&.bounce {
					animation-name: bounce;
					animation-duration: 1.5s;
					animation-fill-mode: both;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
				}

				@-webkit-keyframes bounce {
					0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
					50% {-webkit-transform: translateY(-20px);}
				} 
				  
				@keyframes bounce { 
					0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
					50% {transform: translateY(-20px);}
				}
			}

			img.ombra {
				scale: 1;

				&.scale {
					animation-name: scale;
					animation-duration: 1.5s;
					animation-fill-mode: both;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
				}

				@-webkit-keyframes scale {
					0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: scale(1);}
					50% {-webkit-transform: scale(0.3);}
				} 
				  
				@keyframes scale { 
					0%, 20%, 40%, 60%, 80%, 100% {transform: scale(1);}
					50% {transform: scale(0.3);}
				}
			}
		}
	}
}

.section--prod44gatti-intro {
	text-align: center;
	padding: 100px 0;

	.title {
		font-size: 36px;
		color: $foreground-secondary;
		font-weight: $font-semibold;
	}

	.description {
		font-size: 24px;
		color: #797a82;
		font-weight: $font-regular;
		margin: 20px 0;
	}

	.cta {

		a {
			color: $foreground-primary;
			font-weight: $font-semibold;
			text-transform: uppercase;
			font-size: 16px;
		}
	}
}


.section--prod44gatti {
	padding: 100px 0;

	.wrap {
		display: flex;
		justify-content: center;
		align-items: center;

		@include media-breakpoint-down(md) {
			flex-wrap: wrap;
			align-items: flex-start;
		}

		.col1, .col3 {
			width: 25%;

			@include media-breakpoint-down(md) {
				order: 2;
				width: 100%;
			}

			.item {
				padding-bottom: 100px;

				@include media-breakpoint-down(md) {
					margin: 0 20px;
				}

				@include media-breakpoint-down(md) {
					padding-bottom: 50px;
				}

				&:last-child {
					padding-bottom: 0;

					@include media-breakpoint-down(md) {
						padding-bottom: 50px;
					}
				}

				.caption {

					@include media-breakpoint-down(md) {
						text-align: center;
						width: 100%;
					}

					.title {
						color: #e95e0f;
						font-family: 'Baloo Bhai', cursive;
						font-size: 24px;
						line-height: 36px;
						text-transform: uppercase;

						@include media-breakpoint-down(md) {
							text-transform: initial;
						}
					}
				}

				.icon {

					@include media-breakpoint-down(md) {
						display: none;
					}
				}
			}		
		}

		.col2 {
			width: 30%;

			@include media-breakpoint-down(md) {
				order: 1;
				width: 100%;
			}

			.note {
				position: absolute;
				top: -50px;

				@include media-breakpoint-down(md) {
					display: none;
				}
			}

			.slide-44-gatti {
				left: 70px;
				top: 0;

				@include media-breakpoint-down(md) {
					left: 0;
					margin-bottom: 50px;
				}

				.slick-slide {

					img {
						
						@include media-breakpoint-down(md) {
							max-width: 100%;
							height: 500px;
							margin: 0 auto;
						}
					}
				}
			}
		}


		.col1 {

			.item {
				display: flex;
				justify-content: space-between;

				.caption {
					text-align: right;

					@include media-breakpoint-down(md) {
						text-align: center;
						width: 100%;
					}
				}

				.icon {
					position: relative;
					top: -15px;
					left: 10px;
				}
			}
		}

		.col3 {

			.item {
				display: flex;
				justify-content: space-between;

				.caption {
					text-align: left;

					@include media-breakpoint-down(md) {
						text-align: center;
					}
				}

				.icon {
					position: relative;
					top: -15px;
					right: 10px;
				}
			}
		}
	}
}

.section--44gatti-consigli {
	padding: 100px 0;

	.intro {
		text-align: center;

		.title {
			font-size: 36px;
			font-weight: 600;
			color: $foreground-secondary;
			padding-bottom: 50px;
		}
	}

	.wrap {
		display: flex;
		justify-content: center;
		align-items: center;

		@include media-breakpoint-down(md) {
			flex-wrap: wrap;
		}

		.col1 {
			text-align: center;

			@include media-breakpoint-down(md) {
				width: 100%;
				text-align: center;
			}

			img {
				max-width: 100%;
			}
		}

		.col2 {
			width: 30%;

			@include media-breakpoint-down(md) {
				width: 100%;
			}

			.item {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				text-align: center;
				padding-bottom: 50px;
				padding-left: 30px;
				padding-right: 30px;

				&:last-child {
					padding-bottom: 0;
				}

				.icon {
					padding-bottom: 20px;
				}

				.title {
					color: #69c64c;
					font-family: 'Baloo Bhai', cursive;
					font-size: 24px;
					line-height: 20px;
					padding-bottom: 20px;
				}

				.description {
					color: #797a82;
					font-size: 18px;
					line-height: 30px;
				}
			}
		}
	}
}

.section--landing-hero {
	padding: 100px 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	.wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.left {
			width: 50%;
			order: 0;
			
			@include media-breakpoint-up(lg) {
				position: relative;
				left: 100px;
			}

			@include media-breakpoint-down(sm) {
				width: 100%;
				order: 1;
			}
		}

		.right {
			width: 50%;
			order: 1;

			img {
				max-width: 100%;

				@include media-breakpoint-down(sm) {
					max-width: initial;
					height: auto;
					width: 100%;
				}
			}

			@include media-breakpoint-down(sm) {
				width: 100%;
				order: 0;
				text-align: center;
			}
		}
	}

	.caption {
		color: $foreground-secondary;
		max-width: 500px;

		@include media-breakpoint-down(sm) {
			max-width: 100%;
		}

		@include media-breakpoint-down(xs) {
			text-align: center;
		}

		.title {
			font-size: 60px;
			line-height: 64px;
			font-weight: $font-semibold;
			margin: 20px 0;

			i {
				color: $foreground-primary;
			}

			@include media-breakpoint-down(sm) {
				font-size: 42px;
				line-height: 52px;
			}

			@include media-breakpoint-down(sm) {
				font-size: 32px;
				line-height: 42px;
			}
		}

		.description {
			font-size: 18px;
			font-weight: $font-regular;
			line-height: 30px;

			@include media-breakpoint-down(xs) {
				font-size: 16px;
				line-height: 26px;
			}
		}

		.cta {
			display: flex;
			justify-content: flex-start;
			margin-top: 50px;

			@include media-breakpoint-down(xs) {
				justify-content: center;
			}
	
			.icon--arrow-circle-right { 
				width: 50px; 
				height: 50px;
				fill: $foreground-primary;
				margin-right: 20px;
				transform: rotate(90deg);
			}
	
			a {
				color: $foreground-primary;
				text-transform: uppercase;
				font-weight: $font-semibold;
				font-size: 14px;
				letter-spacing: 0.5px;
				display: flex;
				align-items: center;

				&.link-arrow {
					width: 60px;
					height: 60px;
					border: 2px solid;
					padding: 20px;
					border-radius: 100%;
					margin-right: 20px;
					transition: all ease-in-out .3s;
	
					.icon--arrow {
						fill: $foreground-primary;
						transform: rotate(90deg);
					}
					
					&:hover, &:focus {
						
						.icon--arrow {
							-webkit-animation: icon-bounce-down 1s infinite; /* Safari 4+ */
							-moz-animation:    icon-bounce-down 1s infinite; /* Fx 5+ */
							-o-animation:      icon-bounce-down 1s infinite; /* Opera 12+ */
							animation:         icon-bounce-down 1s infinite; /* IE 10+, Fx 29+ */
						}
					}
				}
			}
		}
	}
}

.section--landing-categories {
	padding: 20px 0;
	border-bottom: 1px solid #dbdbdb;
	text-align: center;
	overflow-x: auto;

	&.categorie-non-solo {
		border-top: 1px solid #dbdbdb;	

		@include media-breakpoint-down(xs) {
			text-align: left;
		}

		ul {

			@include media-breakpoint-down(xs) {
				width: 500px;
			}
		}
	}

	@include media-breakpoint-down(md) {
		padding: 10px 0;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		@include media-breakpoint-down(sm) {
			width: 1000px;
		}


		li {
			display: inline-block;
			padding: 0 30px;

			@include media-breakpoint-down(md) {
				padding: 0 20px;
			}

			a {
				font-weight: 600;
				color: #7f7f7f;

				@include media-breakpoint-down(md) {
					font-size: 14px;
				}

				&:hover, &:focus {
					color: $foreground-primary;
				}
			}
		}
	}
}

.section--landing-listing {
	padding: 100px 0;

	@include media-breakpoint-down(xs) {
		padding: 50px 0;
	}

	.intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin-bottom: 100px;
		margin-top: 100px;

		@include media-breakpoint-down(xs) {
			margin-top: 150px;
			margin-bottom: 50px;
		}

		.title {
			font-weight: 600;
			font-size: 36px;
			line-height: 54px;
			color: #e10000;
		}
	}

	.row {
		align-items: center;

		.col-12 {
			padding: 100px 0;

			@include media-breakpoint-down(md) {
				padding: 50px 0;
			}
			
			@include media-breakpoint-down(xs) {
				padding: 50px 0;
			}
		}
	}

	.item {
		position: relative;
		text-align: center;
		min-height: 640px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-direction: column;
		justify-content: center;		
		align-items: center;

		@include media-breakpoint-down(sm) {
			min-height: initial;
			flex-direction: row;
			flex-wrap: wrap;
			text-align: left;
			justify-content: space-around;
		}

		&.item-top {

			&:hover {

				.img {
					@include media-breakpoint-up(sm) {
						-webkit-animation: mymove .5s;
						animation: mymove .5s;
						animation-fill-mode: forwards;						
					}
				}

				.caption {

					@include media-breakpoint-up(sm) {
						text-align: left;
						padding-left: 100px;
					}
				}
			}
		}

		.img {
			position: absolute;
			z-index: 3;

			@include media-breakpoint-down(sm) {
				position: relative;
				width: 30%;
				text-align: center;
			}

			&#bambini {

				img {

					@include media-breakpoint-down(sm) {
						max-width: 45%;
					}
				}
			}

			img {
				max-width: 100%;

				@include media-breakpoint-down(md) {
					max-width: 80%;
				}
			}

			&--top {
				position: absolute;
			}
		}

		.caption {
			
			@include media-breakpoint-down(sm) {
				width: 50%;
			}

			@media (max-width: 375px) {
				width: 70%;
			}
		}

		.title {
			color: $foreground-primary;
			font-weight: 500;
			font-size: 60px;
			letter-spacing: 0.2px;
			line-height: 64px;
			z-index: 2;
			position: relative;

			@include media-breakpoint-down(md) {
				font-size: 34px;
			}

			@include media-breakpoint-down(sm) {
				width: 100%;
			}

			@include media-breakpoint-down(xs) {
				font-size: 32px;
				line-height: 42px;
			}

			&--baby {
				color: #19aad1;
			}

			&--professional {
				color: $foreground-secondary;

				span {
					color: #fff;
					text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
				}
			}
		}

		.description {
			color: $foreground-secondary;
			font-size: 40px;
			font-weight: 400;
			line-height: 44px;
			letter-spacing: 0.2px;
			z-index: 2;
			position: relative;
			margin: 20px 0 40px;

			@include media-breakpoint-down(md) {
				font-size: 18px;
				line-height: 31px;
			}

			@include media-breakpoint-down(sm) {
				width: 100%;
			}

			@include media-breakpoint-down(xs) {
				font-size: 24px;
				line-height: 34px;
			}
		}

		.cta {
			position: relative;
			z-index: 4;

			@include media-breakpoint-down(sm) {
				width: 100%;
			}

			@include media-breakpoint-down(xs) {
			}

			a {
				color: $foreground-primary;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.5px;
				font-weight: 600;
			}
		}

		&--promozione {
			border: 2px solid $foreground-primary;
			height: auto;
			min-height: initial;
			padding: 40px;
			text-align: center;

			.abstract {
				color: $foreground-primary;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.5px;
				font-weight: 600;
			}

			.img {
				position: relative;
				width: 100%;
				max-width: 100%;

				img {
					max-width: 100%;
				}
			}

			.title {
				font-size: 40px;
				line-height: 44px;
				letter-spacing: 0.2px;
			}

			.description {
				font-size: 18px;
				line-height: 36px;
				letter-spacing: 0.2px;

				span {
					color: $foreground-primary;
				}
			}
		}

		&--magazine {
			position: static;
			min-height: initial;
			display: block;
			text-align: left;

			.box {
				background-size: cover !important;
				min-height: 700px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: end;
				-ms-flex-align: end;
				align-items: flex-end;

				@include media-breakpoint-down(md) {
					min-height: 450px;
				}
		
				@include media-breakpoint-down(sm) {
					margin-bottom: 30px;
				}

				.black-layer {
					content: '';
					display: block;
					height: 300px;
					width: 100%;
					position: relative;
					z-index: 1;
					bottom: 0;
					left: 0;
					background: rgba(0, 0, 0, 0);
					background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
					background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
					background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
					background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
					background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
				}

				.caption {
					position: absolute;
					z-index: 2;
					padding: 30px;
					width: 100%;
					bottom: 90px;

					.category {
						font-size: 16px;
						text-transform: uppercase;
						color: #fff;
						letter-spacing: 0.5px;
						font-weight: 600;
					}
		
					.title {
						color: #fff;
						font-size: 40px;
						font-weight: $font-medium;
		
						@include media-breakpoint-down(xs) {
							font-size: 32px;
							line-height: 42px;
						}
					}
		
					.description {
						color: #fff;
						font-size: 18px;
						line-height: 36px;
						letter-spacing: 0.2px;
						margin: 0;

						@include media-breakpoint-down(xs) {
							font-size: 16px;
							line-height: 26px;
						}
		
						a {
							color: $foreground-primary;
							border-bottom: 2px solid $foreground-primary;
						}
					}
				}
			}
		}
	}

	.more {
		text-align: center;
	}
}

@-webkit-keyframes mymove {
	from {left: 270px;}
	to {left: 0px;}
}

@keyframes mymove {
	from {left: 270px;}
	to {left: 0px;}
}

@-webkit-keyframes myscale {
	from {transform: scale(1);}
	to {transform: scale(1.1);}
}

@keyframes myscale {
	from {transform: scale(1);}
	to {transform: scale(1.1);}
}


@-webkit-keyframes icon-bounce-down {
	0%   { transform: translateY(0) rotate(90deg); }
	100% { transform: translateY(5px) rotate(90deg); }
}
@-moz-keyframes icon-bounce-down {
	0%   { transform: translateY(0) rotate(90deg); }
	100% { transform: translateY(5px) rotate(90deg); }
}
@-o-keyframes icon-bounce-down {
	0%   { transform: translateY(0) rotate(90deg); }
	100% { transform: translateY(5px) rotate(90deg); }
}
@keyframes icon-bounce-down {
	0%   { transform: translateY(0) rotate(90deg); }
	100% { transform: translateY(5px) rotate(90deg); }
}