.section--store-locator-dove-acquistare {
	padding: 100px 0;
	text-align: center;

	.title {
		color: $foreground-primary;
		font-weight: $font-semibold;
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;
	}

	.abstract {
		font-size: 36px;
		line-height: 54px;
		font-weight: $font-semibold;
		color: $foreground-secondary;
		margin: 30px 0;

		@include media-breakpoint-down(xs) {
			font-size: 28px;
			line-height: 36px;
		}
	}

	.form {

		input {
			padding: 20px;
			background: #fff;
			border: 1px solid #ddd;
			border-radius: 500px;
			width: 400px;

			&:hover, &:focus {
				outline: none;
			}

			@include media-breakpoint-down(xs) {
				width: 100%;
			}
		}

		button {
			background: transparent;

			@include media-breakpoint-down(xs) {
				width: 100%;
				margin-top: 10px;
			}

			span {

				@include media-breakpoint-down(xs) {
					width: 100%;
				}
			}
		}
    }
    
    .check-position {
        margin-top: 50px;
    }
}

.section--store-locator-intro {

	.intro {
        padding: 20px 0;
		text-align: center;
		background: #fff;
		border-top: 1px solid #eeefef;
		border-bottom: 1px solid #eeefef;

		strong {
			color: $foreground-primary;
		}
	}
}

.section--store-locator-results {
	background: #f9fafb;
	padding: 50px 0;
	
	.box {
		background: #fff;
		border: 1px solid #dedfe0;
		padding: 30px;
		margin-bottom: 30px;

		@include media-breakpoint-down(sm) {
			margin-bottom: 30px;
		}

		.title {
			color: $foreground-primary;
			font-size: 21px;
			line-height: 36px;
			font-weight: $font-medium;
		}

		.indirizzo {
			font-size: 18px;
			line-height: 30px;
			color: $foreground-secondary;
			font-weight: $font-regular;
		}

		.distanza {
			color: #797a82;
			font-size: 18px;
			line-height: 30px;
		}

		.cta {

			a {
				color: $foreground-primary;
				font-weight: $font-semibold;
			}
		}
	}
}