@mixin aspect-clip($w: 4, $h: 3) {
	position: relative;
	width: 100%;
	padding-top: 100% / $w * $h;
	overflow: hidden;

	&>img,
	&>svg,
	&>video,
	&>canvas,
	&>.video,
	&>iframe,
	&>div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.game-container {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 40px;
	background: #3b6d4e;
	border: 3px solid black;
	box-sizing: border-box;
	font-family: 'Marker Felt', sans-serif;
	user-select: none !important;
	-webkit-touch-callout: none !important;

	&>.left,
	&>.right {
		flex: 0 0 20%;
		min-width: 20%;
		display: flex;
		flex-direction: column;

		.group--head,
		.group--foot {
			display: flex;
			flex: 0 0 55px;
			min-height: 55px;
		}

		.group--main {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.group--cta {
				padding: 0;
				display: flex;
				flex-direction: column;

				&>.btn--cta {
					padding: 14px 14px;

					&:last-child {
						background: #e01e25;
						color: white;
					}
				}

				&>.btn--cta+.btn--cta {
					margin-top: 20px;
				}
			}
		}

		@media (max-width: 767px) {
			.group--head {
				margin-bottom: 15px;
				min-height: auto;

				.logo {
					margin-right: 25px;

					img {
						max-width: 100%;
					}
				}
			}
		}
	}

	&>.left {
		justify-content: center;

		&>.group--head {
			&>.btn--close {
				display: none;
				margin-bottom: 0;

				svg {
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	&>.right {
		&>.group--head {
			display: flex;
			justify-content: flex-end;

			&>.btn--close {
				margin-bottom: 0;

				svg {
					width: 20px;
					height: 20px;
				}
			}
		}

		.group--arrows {
			display: none;
		}

	}

	&>.center {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.group--intro {
		display: none;
		pointer-events: none;
	}

	&.game-container--intro {
		.group--intro {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&__title {
				max-width: calc(100% - 80px);
				opacity: 0;
			}

			&__mouth {
				max-width: 30%;
				position: absolute;
				opacity: 0;
			}
		}

		.group--main {
			* {
				display: none;
			}
		}

		.game {
			display: none;
		}

		@media (max-width: 767px) {
			.group--intro {
				&__title {
					max-width: calc(100% - 20px);
				}

				&__mouth {
					max-width: 30%;
				}
			}
		}
	}

	.group--rules {
		display: none;

		.group--rule {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 20px 0;

			&__text {
				flex: 1 1 auto;
				margin-right: 30px;
				font-size: 22px;
				line-height: 1.2;
				color: white;
			}

			&__infographic {
				flex: 0 1 340px;
				min-width: 340px;
				display: flex;
				justify-content: center;
				align-items: center;

				&>img+img {
					margin-left: 30px;
				}
			}
		}

		.group--cta {
			display: flex;
			justify-content: center;

			.btn--cta {
				padding: 14px 14px;
				background: #e01e25;
				color: white;
			}
		}

		.btn--space {
			padding: 16px 10px 8px 10px;
			text-align: left;
			min-width: 240px;
			font-size: 15px;
		}
	}

	&.game-container--rules {
		.group--rules {
			display: flex;
			flex-direction: column;

		}

		.group--main {
			* {
				display: none;
			}
		}

		.game {
			display: none;
		}
	}

	&:not(.game-container--ended) {

		.group--splendid,
		.right .group--cta {
			display: none !important;

		}
	}
}

.group--splendid {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 60px 0;
}

.group--progress {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: white;
	line-height: 1;

	.percent {
		font-size: 18px;
		text-align: right;
		margin-left: 10px;
	}

	&__track {
		position: relative;
		width: calc(100% - 50px);
		max-width: 200px;
		height: 16px;
		background: white;
		border-radius: 6px;
		border: 3px solid black;
		box-sizing: border-box;
		box-shadow: 0 6px 0 -5px rgba(0, 0, 0, 1);
	}

	&__bar {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		background: black url(../../../img/landings/splendidi-splendenti/game/progress.png) repeat-x;
		background-size: auto 100%;
		animation: background-animation;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}

.game {
	width: 100%;
	max-width: calc(100vh - 120px);
	box-sizing: border-box;

	&>.inner {
		@include aspect-clip(1, 1);
	}
}

@keyframes background-animation {
	from {
		background-position: 0px 0%
	}

	to {
		background-position: 50px 0%
	}
}

@media (orientation: landscape) {
	@media (max-width: 1300px) {
		.game-container {
			.group--rules {
				position: absolute;
				left: 80px;
				right: 80px;
				top: 50%;
				transform: translateY(-40%);

				.group--rule {
					padding: 10px 0;
				}
			}
		}
	}

}

@media (orientation: portrait) {
	.game-container {
		display: block;
		flex-direction: column;
		padding: 0;
		overflow-y: auto;

		&>.left {
			flex: 0 1 auto;
			min-width: auto;
			padding: 25px 25px 0 25px;

			&>.group--head {
				flex: 0 0 auto;
				justify-content: space-between;
				margin-bottom: 30px;

				&>.btn--close {
					display: flex;
				}

				@media (max-width: 767px) {
					&>.btn--close {
						padding: 0;
						width: 40px;
						height: auto;
						line-height: 1;
						display: flex;
						justify-content: center;
						align-items: center;

						svg {
							width: 18px;
							height: 18px;
						}
					}
				}
			}

			.group--splendid {
				margin: -15px 0 0 0;
			}

			&>.group--foot {
				display: none;
			}
		}

		&>.right {
			flex: 1 1 auto;
			min-width: auto;
			padding: 0 25px 5px 25px;

			&>.group--head,
			&>.group--foot {
				display: none;
			}

			.group--arrows {
				display: block;
			}

			.group--cta {
				margin-bottom: 40px;
			}

			@media (max-width: 767px) {
				.group--arrows {
					width: 130px;

					img {
						max-width: 100%;
					}
				}
			}
		}

		&.game-container--ended {

			.group--progress,
			.group--arrows {
				display: none;
			}
		}

		.group--rules {
			.group--rule {
				display: block;
				padding: 20px 25px;
				border-bottom: 2px solid black;

				&__text {
					margin: 0 0 15px 0;
					font-size: 16px;
					text-align: center;
				}

				&__infographic {
					margin: 0;
					min-width: 0;
					display: flex;
					flex-direction: column;

					&>img+img {
						margin: 15px 0 0 0;
					}
				}

				&.group--rule--space {
					display: none;
				}
			}

			.btn--space {
				min-width: 100%;
			}

			.group--cta {
				.btn--cta {
					padding: 14px 14px;
				}
			}
		}

		@media (max-width: 767px) {
			&>.center {
				flex: 0 0 auto;
			}
		}

	}

}
