@import '../../_variables/tau';
@import '../../_variables/shared';
@import '../../_variables/grid';
@import '../../mixins';

@import '../../components/reset';
@import '../../components/base';
@import 'components/buttons';
@import '../../components/typography';
@import '../../components/grid';

@import '../../mixins';
@import '../../components/reset';
@import 'components/vars';
@import 'components/locomotive';
@import 'components/base';
@import 'components/header';
@import '../../pages/footer';
// @import 'components/footer';
@import 'components/animations';

.page-template-splendidi-splendenti {

	.section--spazzolino {
		color: #fff;
		transition: background-color ease-in-out 600ms;

		&:before {
			transition: background-color ease-in-out 600ms;
		}

		.picture {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: -50%;
				height: 200%;
				width: 100%;
				z-index: -1;
			}
		}

		.swiper-slide {
			&:nth-child(1) {
				.picture {
					&:before {
						background: #9257a9;
					}
				}
			}

			&:nth-child(2) {
				.picture {
					&:before {
						background: #ff9604;
					}
				}
			}

			&:nth-child(3) {
				.picture {
					&:before {
						background: #008fd3;
					}
				}
			}

			&:nth-child(4) {
				.picture {
					&:before {
						background: #cf2f89;
					}
				}
			}

			&:nth-child(5) {
				.picture {
					&:before {
						background: #ffc404;
					}
				}
			}
		}

		&,
		&.slide-0 {
			background: #9257a9;

			&:before {
				background: #9257a9;
			}

			.ss-professional-27-ring-setole {
				fill: #fdf06f;
			}
		}

		&.slide-1 {
			// background: #ff9604;
			background: #9257a9;

			&:before {
				// background: #ff9604;
				background: #9257a9;
			}

			.ss-professional-27-ring-setole {
				fill: #cf2f89;
			}
		}

		&.slide-2 {
			// background: #008fd3;

			&:before {
				// background: #008fd3;
			}

			.ss-professional-27-ring-setole {
				fill: #ff9966;
			}
		}

		&.slide-3 {
			// background: #cf2f89;
			background: #ffc404;

			&:before {
				// background: #cf2f89;
				background: #ffc404;
			}

			.ss-professional-27-ring-setole {
				fill: #96d0ff;
			}
		}

		&.slide-4 {
			background: #ffc404;

			&:before {
				background: #ffc404;
			}

			.ss-professional-27-ring-setole {
				fill: #9357a9;
			}
		}

		.container {
			width: 100vw;
			padding: 27vh 0 100px 0;
		}

		.swiper-container {
			width: 100%;
			overflow: visible;
		}

		.swiper-slide {
			// width: 100vw;

			.picture {
				padding-bottom: 30px;
				display: flex;
				justify-content: center;
				border-radius: 60px;

				img {
					max-height: 130vh;
				}
			}
		}

		.swiper-pagination-bullets {
			position: fixed;
			width: 100vw;
			height: 40px;
			top: calc(100vh - 70px);
			bottom: auto;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: $cursor;

			.swiper-pagination-bullet {
				width: 6px;
				height: 6px;
				background: white;
				border: solid 3px transparent;
				margin: 0 10px;
				opacity: 1;
				transition: ease-in-out 350ms;
				transition-property: background-color, border-color;

				&-active {
					width: 16px;
					height: 16px;
					margin: 0 5px;
					background: transparent;
					border-color: #0b0c11;
				}
			}
		}

		$s1: 146px;
		$s2: 58px;

		.ico-professional-27 {
			position: fixed;
			width: $s1;
			height: $s1;
			margin-right: -$s1 / 2;
			margin-top: -$s1 / 2;
			right: 40vw;
			top: 75vh;
			text-align: left;
			z-index: 2;

			.ss-professional-27 {
				position: absolute;
				width: $s2;
				height: $s2;
				left: ($s1 - $s2) / 2;
				top: ($s1 - $s2) / 2;
				// @extend %pulse;
			}

			.ss-professional-27-ring,
			.ss-professional-27-ring-setole {
				position: absolute;
				width: $s1;
				height: $s1;
				@extend %ring;
			}

			.ss-professional-27-ring-setole {
				transition: fill ease-in-out 600ms;
			}
		}

		.banner {
			z-index: 2;
		}
	}

	.section--ottimista {
		color: #fff;

		&:before {
			background: #ffc500;
		}

		.group--picture {
			position: relative;
		}

		.corianders {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 0;
			height: 0;
		}

		.coriander {
			position: absolute;
			background-color: #e21821;
			border: 3px solid #0b0c11;
			width: 50px;
			height: 50px;
			border-radius: 6px;
		}
	}

	.section--eclettico {
		color: #fff;

		&:before {
			background: #9456ab;
		}

	}

	.section--stile {
		color: #fff;

		&:before {
			background: #d02b8a;
		}

	}

	.section--designer {
		color: #fff;

		&:before {
			background: #3b6d4e;
		}

		.container {
			pointer-events: none;
		}

		.content {
			text-align: center;
		}

		.title--small {
			margin-bottom: 1em;
		}

		.picture {
			font-size: 0;
			max-width: 460px;
			margin: 0 auto 40px auto;
			border: solid 3px #0b0c11;
			box-shadow: 0 10px 0 -5px rgba(0, 0, 0, 1);

			img {
				max-width: 100%;
			}

			&:hover {
				box-shadow: 0 7px 0 -5px rgba(0, 0, 0, 1);
			}
		}

		.btn--cta {
			pointer-events: all;
		}
	}

	.section--nonsolo {
		// background: #ffffff;

		.row {
			display: flex;

			.col {
				display: flex;
				flex-direction: column;
				justify-content: center;

				&:first-child {
					flex: 1 1 30%;
				}

				&:last-child {
					flex: 1 1 70%;
					padding-right: 4vw;
				}
			}
		}

		.content {
			text-align: left;
		}

		.title {
			margin-bottom: 1em;
		}

		/*
		.title {
			font-size: 72px;
			margin-bottom: 1em;
		}
		*/

		.picture {
			display: flex;
			justify-content: center;
		}

		.swiper-container,
		.swiper-slide,
		.picture,
		.picture img {
			width: 70px;
			height: 720px;
		}

		.swiper-slide {
			opacity: 0 !important;

			&-active {
				opacity: 1 !important;
			}
		}

		/*
		.title {
			font-size: 72px;
			line-height: 1;
			margin-bottom: 1em;
		}
		*/
	}

	.section--consigli {

		.container {
			max-width: 680px;
			margin: 0 auto;
			text-align: center;
		}

		.title {
			margin-bottom: 1em;
		}

		@media (min-width: 940px) {
			.group--popup {
				.container {
					max-width: calc(100% - 60px);
					height: 100%;
				}

				.title {
					margin-bottom: 0;
				}
			}
		}

		@media (min-width: 1440px) {
			.group--popup {
				.container {
					max-width: calc(100% - 80px);
				}
			}
		}
	}

	.section--dove {

		.container {
			max-width: 680px;
			margin: 0 auto;
			text-align: center;
		}

		.title {
			margin-bottom: 1em;
		}

		.btn--cta {

			&,
			&:link,
			&:active,
			&:visited,
			&:hover {
				background: #e01e25;
				color: white;
			}
		}
	}

	.section--follow {

		.title {
			margin-bottom: 1em;
		}

		.group--cta {
			&>.btn--cta+.btn--cta {
				margin-top: 1em;
			}
		}

		.btn--cta {
			display: flex;
			align-items: center;
			padding: 15px;

			&,
			&:link,
			&:active,
			&:visited,
			&:hover {
				color: white;
			}

			&:hover {
				color: white;
			}

			.icon {
				position: absolute;
				width: 1.5em;
				height: 1.5em;
				display: inline-block;
				vertical-align: middle;
				margin-right: 1em;
			}

			&.instagram {
				background: rgb(239, 0, 28);
				background: linear-gradient(331deg, rgba(239, 0, 28, 1) 0%, rgba(183, 0, 182, 1) 48%, rgba(43, 0, 200, 1) 100%);
			}

			&.facebook {
				background: #4360b5;
			}
		}

	}

	@media (min-width: 1440px) {

		.section--ottimista,
		.section--eclettico,
		.section--stile {
			.container {
				min-height: 830px;
			}
		}
	}

	@media (min-width: 940px) {

		.section--ottimista,
		.section--eclettico,
		.section--stile {
			.container {
				padding: 12vw 0 12vw 0;
			}

			.title {
				font-size: 70px;
			}

			.title--small {
				font-size: 35px;
				margin-top: 30px;
			}
		}

		.section--designer {
			.container {
				padding: 12vw 0 8vw 0;
			}
		}

		.section--nonsolo,
		.section--consigli {
			.container {
				padding: 15vw 0 6vw 0;
			}
		}

		.section--dove,
		.section--follow {
			.container {
				padding: 6vw 0 6vw 0;
			}

			.btn--cta {
				min-width: 335px;
			}
		}

		a,
		span,
		button,
		div {
			outline: none;
			cursor: none !important;
		}

		.pointer {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 100000;
			// mix-blend-mode: hard-light;
			pointer-events: none;
			transform-origin: 0 0;
			visibility: hidden;

			&.init {
				visibility: visible;
			}

			&:after {
				content: '';
				position: absolute;
				width: 2px;
				height: 2px;
				background: red;
				display: none; // !!!
			}

			img {
				position: absolute;
				width: 80px;
				height: 80px;
				display: none;
			}

			.hand-point,
			.hand-click,
			.pen,
			.hammer {
				display: none;
			}

			.pen {
				width: 120px;
				height: 120px;
			}

			.hammer {
				width: 224px;
				height: 224px;
			}

			.hand-point,
			.hand-click {
				transform: translateX(-20%) translateY(-8%);
			}

			.pen {
				transform: translateX(-16%) translateY(-85%);
			}

			.hammer {
				transform: translateX(-22%) translateY(-56%);
			}

			&.down {
				.pen {
					transform: translateX(-10%) translateY(-80%) rotate(10deg);
				}

				.hammer {
					transform: translateX(-22%) translateY(-56%) rotate(-15deg);
				}
			}

			&.hand-point {
				.hand-point {
					display: block;
				}
			}

			&.hand-click {
				.hand-click {
					display: block;
				}
			}

			&.pen {
				.pen {
					display: block;
				}
			}

			&.hammer {
				.hammer {
					display: block;
				}
			}

		}

	}

	@media (max-width: 939px) {

		.section--ottimista,
		.section--eclettico,
		.section--stile {
			.title {
				font-size: 60px;
			}
		}

		.section--nonsolo,
		.section--consigli,
		.section--dove,
		.section--follow {
			.container {
				padding: 125px 20px;
			}

			.title {
				font-size: 45px;
			}
		}

		.section--spazzolino {
			$s1: 117px;
			$s2: 47px;

			.container {
				padding: 180px 0 100px 0;
			}

			.swiper-pagination-bullets {
				position: absolute;
				bottom: auto;
				top: calc(100vh - 180px)
			}

			.ico-professional-27 {
				position: absolute;
				right: auto;
				left: 60vw;
				top: 78vh;
				width: $s1;
				height: $s1;
				margin-right: -$s1 / 2;
				margin-top: -$s1 / 2;

				.ss-professional-27 {
					width: $s2;
					height: $s2;
					left: ($s1 - $s2) / 2;
					top: ($s1 - $s2) / 2;
				}

				.ss-professional-27-ring,
				.ss-professional-27-ring-setole {
					position: absolute;
					width: $s1;
					height: $s1;
				}
			}

		}

		.section--designer {
			.title--small {
				font-size: 18px;
			}

			.title {
				font-size: 38px;
			}

			.picture {
				max-width: calc(100vw - 40px);
			}
		}

		.section--nonsolo {
			.row {
				.col {
					&:last-child {
						padding-right: 0;
					}
				}
			}

			.swiper-container,
			.swiper-slide,
			.picture,
			.picture img {
				width: 62px;
				height: 630px;
			}
		}

		.section--dove,
		.section--follow {
			.btn--cta {
				display: flex;
				min-width: 100%;
			}
		}

		.pointer {
			display: none;
		}

	}

}
