@import '../../mixins';
@import '../../components/reset';
@import 'components/locomotive';
@import 'components/base';
@import 'components/header';
@import 'components/footer';

.splendidi-splendenti {

	.section--diagonal {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: calc(100% - 5px);
			transform: skewY(-15deg);
			border-bottom: 6px solid #030409;
		}

	}

	.section--spazzolino {
		color: #fff;
		transition: background-color ease-in-out 600ms;

		&:before {
			transition: background-color ease-in-out 600ms;
		}

		&,
		&.slide-0 {
			background: #0090d4;

			&:before {
				background: #0090d4;
			}
		}

		&.slide-1 {
			background: #ffc403;

			&:before {
				background: #ffc403;
			}
		}

		&.slide-2 {
			background: #9357a9;

			&:before {
				background: #9357a9;
			}
		}

		&.slide-3 {
			background: #cf2f89;

			&:before {
				background: #cf2f89;
			}
		}

		&.slide-4 {
			background: #3d6d4f;

			&:before {
				background: #3d6d4f;
			}
		}

		.container {
			width: 100vw;
			padding: 27vh 0 80px 0;
		}

		.swiper-slide {
			width: 100vw;

			.picture {
				width: 100vw;
				display: flex;
				justify-content: center;

				img {
					max-height: 130vh;
				}
			}
		}

		.swiper-pagination-bullets {
			position: fixed;
			width: 100vw;
			height: 40px;
			top: calc(100vh - 70px);
			bottom: auto;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			.swiper-pagination-bullet {
				width: 6px;
				height: 6px;
				background: white;
				border: solid 3px transparent;
				margin: 0 10px;
				opacity: 1;
				transition: ease-in-out 350ms;
				transition-property: background-color, border-color;

				&-active {
					width: 16px;
					height: 16px;
					margin: 0 5px;
					background: transparent;
					border-color: #0b0c11;
				}
			}
		}

		$s1: 183px;
		$s2: 77px;
		$scale: 0.7;

		.ico-professional-27 {
			position: fixed;
			width: $s1 * $scale;
			height: $s1 * $scale;
			margin-right: -$s1 * $scale / 2;
			margin-top: -$s1 * $scale / 2;
			right: 25vw;
			top: 75vh;
			text-align: left;

			.ss-professional-27 {
				position: absolute;
				width: $s2 * $scale;
				height: $s2 * $scale;
				left: ($s1 - $s2) / 2 * $scale;
				top: ($s1 - $s2) / 2 * $scale;
				animation: pulse 1s ease-in-out infinite;
			}

			.ss-professional-27-ring {
				position: absolute;
				width: $s1 * $scale;
				height: $s1 * $scale;
				animation: ring 20s linear infinite;
			}
		}
	}

	.section--ottimista {
		color: #fff;

		&:before {
			background: #ffc500;
		}

		.group--picture {
			position: relative;
		}

		.corianders {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 0;
			height: 0;
		}

		.coriander {
			position: absolute;
			background-color: #e21821;
			border: 3px solid #0b0c11;
			width: 50px;
			height: 50px;
			border-radius: 6px;
		}
	}

	.section--eclettico {
		color: #fff;

		&:before {
			background: #9456ab;
		}

	}

	.section--stile {
		color: #fff;

		&:before {
			background: #d02b8a;
		}

	}

	.section--designer {
		color: #fff;

		&:before {
			background: #3b6d4e;
		}

		.container {
			pointer-events: none;
		}

		.content {
			text-align: center;
		}

		.title--small {
			margin-bottom: 1em;
		}

		.picture {
			font-size: 0;
			max-width: 460px;
			margin: 0 auto 40px auto;
			border: solid 3px #0b0c11;
			box-shadow: 0 10px 0 -5px rgba(0, 0, 0, 1);

			img {
				max-width: 100%;
			}

			&:hover {
				box-shadow: 0 7px 0 -5px rgba(0, 0, 0, 1);
			}
		}

		.btn--cta {
			pointer-events: all;
		}
	}

	.section--nonsolo {
		// background: #ffffff;

		.row {
			display: flex;

			.col {
				display: flex;
				flex-direction: column;
				justify-content: center;

				&:first-child {
					flex: 1 1 30%;
				}

				&:last-child {
					flex: 1 1 70%;
					padding-right: 10vw;
				}
			}
		}

		.content {
			text-align: left;
		}

		.title {
			font-size: 72px;
			margin-bottom: 1em;
		}

		.picture {
			display: flex;
			justify-content: center;
		}

		.swiper-container,
		.swiper-slide,
		.picture,
		.picture img {
			width: 90px;
		}

		.swiper-slide {
			opacity: 0 !important;

			&-active {
				opacity: 1 !important;
			}
		}

		/*
		.title {
			font-size: 72px;
			line-height: 1;
			margin-bottom: 1em;
		}
		*/
	}

	.section--consigli {

		.container {
			max-width: 680px;
			margin: 0 auto;
			text-align: center;
		}

		.title {
			margin-bottom: 1em;
		}

	}

	.section--dove {

		.container {
			max-width: 680px;
			margin: 0 auto;
			text-align: center;
		}

		.title {
			margin-bottom: 1em;
		}

		.btn--cta {

			&,
			&:link,
			&:active,
			&:visited,
			&:hover {
				background: #e01e25;
				color: white;
			}
		}
	}

	.section--follow {

		.title {
			margin-bottom: 1em;
		}

		.group--cta {
			&>.btn--cta+.btn--cta {
				margin-top: 1em;
			}
		}

		.btn--cta {
			display: flex;
			align-items: center;
			padding: 15px;
			min-width: 260px;

			&,
			&:link,
			&:active,
			&:visited,
			&:hover {
				color: white;
			}

			&:hover {
				color: white;
			}

			.icon {
				width: 1.5em;
				height: 1.5em;
				display: inline-block;
				vertical-align: middle;
				margin-right: 1em;
			}

			&.instagram {
				background: rgb(239, 0, 28);
				background: linear-gradient(331deg, rgba(239, 0, 28, 1) 0%, rgba(183, 0, 182, 1) 48%, rgba(43, 0, 200, 1) 100%);
			}

			&.facebook {
				background: #4360b5;
			}
		}

	}

	@media (max-width: 939px) {

		.section--designer {
			.picture {
				max-width: calc(100vw - 40px);
			}
		}

		.section--nonsolo {
			.row {
				.col {
					&:last-child {
						padding-right: 0;
					}
				}
			}

			.title {
				font-size: 36px;
			}

			.swiper-container,
			.swiper-slide,
			.picture,
			.picture img {
				width: 50px;
				// height: 70vh;
			}
		}

	}

}

@keyframes ring {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-360deg);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1.0, 1.0);
	}

	50% {
		transform: scale(1.1, 1.1);
	}

	100% {
		transform: scale(1.0, 1.0);
	}
}
