$background: #ffffff;
$background-negative: #000000;
$background-primary: #000000;
$background-secondary: #ffffff;
$background-tertiary: #f8f5f5;
// $background-quaternary: #ffffff;
// $background-quinary: #ffffff;
// $background-senary: #ffffff;
$foreground: #797a82;
$foreground-negative: #ffffff;
$foreground-primary: #e10000;
$foreground-secondary: #121212;
$foreground-tertiary: #797a82;
// $foreground-quaternary: #000000;
// $foreground-quinary: #000000;
// $foreground-senary: #000000;
$border: #e4e4e6;